<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>🌴San Francisco Roleplay</title>
        <link rel="stylesheet" href="../static/styles.css">
    </head>
    <body>
        <img class="overlay" src="../static/images/bg stuff.png" style="position: absolute; top: 0; left: 0; z-index: -1; width: 100%; max-width: 100%; max-height: 100%;">

        <header>
            <img class="logo" src="../static/images/logo.png" alt="Logo">
            <nav>
                <ul class="nav_links">
                    <li><a href="/">Home</a></li>
                    <li><a href="/links">Links</a></li>
                    <li><a href="/faq">FAQ's</S></a></li>
                    <li><a href="/login">Staff</a></li>
                </ul>
            </nav>
            <a class="server_link" href="https://discord.gg/5N4b445JDg"><button>Server Link</button></a>
        </header>
        <img class="banner" src="../static/images/HomeBanner.png" alt="Home" style="z-index: 5 ;margin-left: auto; margin-right: auto; width: 50%; height: 50%; display: block; border-radius: 3%;";>
        <div style="text-align: center; padding-top: 30px; z-index: 5;">
            <h1 style="margin-bottom: 5px; font-size: 50px; font-weight:900; background: linear-gradient(#ff6f00, #ffb31a, #ffc900); -webkit-background-clip: text; background-clip: text; -webkit-text-fill-color: transparent;">Active, Immersive, & Enjoyable</h1>
            <h1 style="margin-bottom: 30px; font-size: 50px; font-weight:900;">ER:LC Experiences</h1>
            <div>
                <a href="https://discord.gg/5N4b445JDg"><button>Join Today</button></a>
                <a href="" style="margin-left: 50px;"><button class="staff-apply">Apply for Staff</button></a>
            </div>
        </div>
    </body>
</html>