<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>🌴San Francisco Roleplay</title>
        <link rel="stylesheet" href="../static/styles.css">
    </head>
    <body>
        <img class="overlay" src="../static/images/bg stuff.png" style="position: absolute; top: 0; left: 0; z-index: -1; width: 100%; max-width: 100%; height: auto;">

        <header>
            <img class="logo" src="../static/images/logo.png" alt="Logo">
            <nav>
                <ul class="nav_links">
                    <li><a href="/">Home</a></li>
                    <li><a href="/links">Links</a></li>
                    <li><a href="/faq">FAQ's</S></a></li>
                    <li><a href="/login">Staff</a></li>
                </ul>
            </nav>
            <a class="server_link" href="https://discord.gg/5N4b445JDg"><button>Server Link</button></a>
        </header>
        <img class="banner" src="../static/images/Error.png" alt="Error" style="z-index: 5 ;margin-left: auto; margin-right: auto; width: 45%; height: 45%; display: block; border-radius: 3%;";>

        <h1 style="font-size: 500px;color: #edf0f1;font-size: 100px;font-family: 'Montserrat', sans-serif; text-align: center; padding-top: 30px;">Invalid Staff Member</h1>
        <h2 style="color: #edf0f1;font-family: 'Montserrat', sans-serif; text-align: center;font-size: 30px; padding-top: 150px;">Mistake? Open a ticket in our <u style="color:orange"><a style="font-weight:bold; font-size: 30px; font-family: 'Montserrat', sans-serif; text-align: center;color:orange" href="https://discord.gg/5N4b445JDg">Discord server.</a></u></h2>
    </body>
</html>