<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>🌴San Francisco Roleplay</title>
        <link rel="stylesheet" href="../static/styles.css">
    </head>
    <body>
        <header>
            <img class="logo" src="../static/images/logo.png" alt="Logo">
            <nav>
                <ul class="nav_links">
                    <li><a href="/">Home</a></li>
                    <li><a href="/links">Links</a></li>
                    <li><a href="/faq">FAQ's</S></a></li>
                    <li><a href="/staff">Staff</a></li>
                </ul>
            </nav>
            <a class="server_link" href="https://discord.gg/5N4b445JDg"><button>Server Link</button></a>
        </header>
        <h1>
            Welcome, {{username}}!
        </h1>
    </body>
</html>